# DEMO CHECKPOINT M1

Dataset de información de clientes.

Primero importa tu(s) librerías con las cuáles trabajarás

In [1]:
import pandas as pd
import numpy as np
import random as r

Instancia tu dataset como el objeto principal con el que trabajaras acorde a la librería

In [2]:
df = pd.read_csv('datasets\clientes.csv')
df.head()

,id,first_name,last_name,email,gender,country,age
0,1,Sephira,MacAirt,smacairt0@army.mil,Female,Netherlands,50.0
1,2,Gottfried,Degoy,gdegoy1@huffingtonpost.com,Male,Latvia,19.0
2,3,Dewie,Denys,ddenys2@reuters.com,Male,China,28.0
3,4,Isac,Gounel,igounel3@go.com,Male,Brazil,85.0
4,5,Hernando,Mc Carrick,hmccarrick4@japanpost.jp,Male,Armenia,58.0

Ahora cumple los siguientes retos, tú puedes...

## Exploración de dataset

Cuántas columnas y cuántos registros tiene?

In [4]:
df.size
df.columns

7000

Informa la cantidad de columnas con datos de tipo entero

In [9]:
df.info

<bound method DataFrame.info of        id first_name   last_name                       email      gender
0       1    Sephira     MacAirt          smacairt0@army.mil      Female  \
1       2  Gottfried       Degoy  gdegoy1@huffingtonpost.com        Male
2       3      Dewie       Denys         ddenys2@reuters.com        Male
3       4       Isac      Gounel             igounel3@go.com        Male
4       5   Hernando  Mc Carrick    hmccarrick4@japanpost.jp        Male
..    ...        ...         ...                         ...         ...
995   996    Dorothy        King           dkingrn@diigo.com      Female
996   997        Lev      Tandey        ltandeyro@discuz.net        Male
997   998      Kelsy      Lambol           klambolrp@epa.gov      Female
998   999     Luella     Krienke   lkrienkerq@washington.edu      Female
999  1000      Lorin      Miller            lmillerrr@nhs.uk  Polygender

         country   age
0    Netherlands  50.0
1         Latvia  19.0
2          China  28.0
3         Brazil  85.0
4        Armenia  58.0
..           ...   ...
995  Philippines  25.0
996        Japan  76.0
997       Russia  54.0
998    Indonesia  71.0
999    Indonesia  18.0

[1000 rows x 7 columns]>

Cuántos datos nulos tiene cada columna ?

In [8]:
df.isnull().sum()

id             0
first_name    24
last_name     24
email         24
gender        24
country       24
age           24
dtype: int64

Informa la cantidad de registros sin  tener en cuenta aquellos con valores faltantes en el campo last_name, da el resultado en un dato tipo entero.

In [14]:
df2=df.dropna(subset='last_name')
df2['last_name'].count()

976

## Transformación

Manos a la obra, a limpiar datos ;)

Si la columna de edad tiene valores nulos , vamos a rellenar esos valores nulos por el promedio de edad según el género.

In [24]:
age_by_gender = df.groupby('gender')['age'].mean()
age_by = df['age']= df['age'].fillna(age_by_gender)
age_by

0      50.0
1      19.0
2      28.0
3      85.0
4      58.0
       ...
995    25.0
996    76.0
997    54.0
998    71.0
999    18.0
Name: age, Length: 1000, dtype: float64

Ahora eliminemos todos los registros que aún tengan datos nulos en cualquier columna

Elimina todos los registros duplicados

In [25]:
print(df.duplicated().sum())

0

Cambiemos todos los datos con valor tipo string a minúscula

In [ ]:
df.dtypes()

Los correos están horribles y no nos servirán de mucho, eliminemoslos ;)

Cambia el orden de las columnas, primero apellido y luego nombre

Por último , asegúrate que la edad esté en dato tipo integer

## Hora de insights...

¿Cuántas personas son de España? retorna en dato tipo entero

¿De cuántos países diferentes son los clientes? retorna dato de tipo entero

¿Cuál es el país con mayor cantidad de clientes?

Ordenando los países por orden alfabético , cuál es el último país?

Cuál es el nombre más común de hombre y cuál de mujer ?

Qué país tiene el promedio de edad más alto de mujeres?

Qué país tiene el promedio de edad más bajo de hombres ?

Por último crea una nueva columna de edad dada en meses donde sus valores sea la edad de clientes dada en meses, suponiendo que todos tienen años recién cumplidos :D

¡Felicidades, lo has logrado!